extends layout


html
    block
    head


block content
    .container(style="padding-top: 70px;")
        .row
            .col-md-12
                form(action="", method="post", role="form")
                    .form-group
                        label(for='title') Title
                        input#contents(name="title" value=notes.title).form-control
                        .form-group
                        label(for='contents') Contents
                        input#contents(name="contents" value=notes.contents).form-control
                    button.btn.btn-default(type='submit') Update Note
                p(style="padding-top: 20px;")
                    a.btn.btn-default(href="/list" role='button') Back to List