extends layout

html
  head


block content
  br
  .jumbotron
    .container

      form
        #email.form-group
          label Email address
          input.form-control(type='email')
        #pwd.form-group
          label Password
          input.form-control(type='password')
        .checkbox
          label Remember me
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          input(type='checkbox')
        button.btn.btn-default(type='submit' formaction='/locations') Log In

