extends layout


html
    block link
        -var selected = 'List';
    head


block content
    .container(style="padding-top: 70px")

        .row(style="padding-bottom: 20px")
            .col-xs-12
                form(action="/api/users/1/notes", method="post", role="form")
                    .form-group
                        label(for='title') Title
                        input#title(name="title").form-control
                    .form-group
                        label(for='contents') Contents
                        input#contents(name="contents").form-control
                    button.btn.btn-default(type='submit') Add Note

                .error= message
        .row(style="padding-bottom: 5px")
            .col-md-12
                h2 Current Notes
        .row
            .col-xs-12.list-group-item
                each note in notes
                    h3(style="background-color: #cecece").title= note.title
                    h4(style="background-color: #eeeeee").contents= note.contents
                    p
                        a.btn.btn-default(href="/list/editor/#{note.title}" role="button") Edit
                    form(action="/api/users/1/notes/#{note.title}?_method=delete", method="post", role="form")
                        button.btn.btn-default(type='submit') Delete Note