extends layout

html
    head


block content
    .container(style="padding-top: 70px")
        .row
            .col-md-12
                h2 Add New Note
                p
                    a.btn.btn-default(href="/list/editor" role="button") Edit&raquo;
        .row
            .col-md-12
                h2 Current Notes
        .row
            .col-md-4
                h3
                    a(href="/list/defaultNote") Note 1
                p Notes are good. You forget things. Take more notes. Notes notes notes.
            .col-md-4
                h3
                    a(href="/list/defaultNote") Note 2
                p Notes are good. You forget things. Take more notes. Notes notes notes.
            .col-md-4
                h3
                    a(href="/list/defaultNote") Note 3
                p Notes are good. You forget things. Take more notes. Notes notes notes.
        .row
            .col-md-4
                h3
                    a(href="/list/defaultNote") Note 4
                p Notes are good. You forget things. Take more notes. Notes notes notes.
            .col-md-4
                h3
                    a(href="/list/defaultNote") Note 5
                p Notes are good. You forget things. Take more notes. Notes notes notes.
            .col-md-4
                h3
                    a(href="/list/defaultNote") Note 6
                p Notes are good. You forget things. Take more notes. Notes notes notes.
        .row
            .col-md-4
                h3
                    a(href="/list/defaultNote") Note 7
                p Notes are good. You forget things. Take more notes. Notes notes notes.
            .col-md-4
                h3
                    a(href="/list/defaultNote") Note 8
                p Notes are good. You forget things. Take more notes. Notes notes notes.
            .col-md-4
                h3
                    a(href="/list/defaultNote") Note 9
                p Notes are good. You forget things. Take more notes. Notes notes notes.
        .row
            .col-md-4
                h3
                    a(href="/list/defaultNote") Note 10
                p Notes are good. You forget things. Take more notes. Notes notes notes.
            .col-md-8



